@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input {
  @apply border border-[#D0D5DD] rounded-lg w-full focus-visible:outline-neutral-300 px-3.5 py-2.5 text-[#667085];
}
.label {
  @apply mb-1.5 text-[#344054] text-sm font-medium;
}

input:focus-visible {
  outline-color: #d4d4d4;
}

.react-tel-input .flag-dropdown {
  width: 58px;
  border: none !important;
  /* border-right: 1px solid #cacaca !important; */
  border-radius: 0.5rem 0 0 0.5rem !important;
}
.react-tel-input .selected-flag {
  width: 58px !important;
  border-radius: 0.5rem 0 0 0.5rem !important;
  padding-left: 12px !important;
}
.react-tel-input .selected-flag .arrow {
  left: 30px !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  border-radius: 0.5rem 0 0 0.5rem !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: #f5f5f5 !important;
}

swiper-container::part(bullet-active) {
  background-color: white;
}
swiper-container::part(button-next),
swiper-container::part(button-prev) {
  width: 14px;
  height: 14px;
  background: #ffffffe5;
  border-radius: 9999px;
  padding: 10px;
}

.no-number-input-appearance::-webkit-outer-spin-button,
.no-number-input-appearance::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-number-input-appearance {
  -moz-appearance: textfield;
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #ff6e40;
  box-shadow: 0 0 13px 3px #ff6e40;
}
